doctype html
html

    head
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(property="og:image" content="http://accountabilityhack.org/img/og.png")

        script(src="https://use.typekit.net/stx0six.js")
        script(type='text/javascript').
            try{Typekit.load({ async: true });}catch(e){}
        title Accountability Hack
        != css()

    body
        header: .wrapper
            nav
                a.brand(href="/"): img(src="/img/logos/ah-teal.png", alt="Accountability Hack 2016")
                ul
                    .top
                        li: a(href="/") Home
                        li: a(href="/personas") Personas
                        li: a(href="/conduct") Conduct
                        li: a(href="/challenges") Challenges
                        li: a(href="/submit") Submit
                    .bottom
                        li: a(href="http://rebellabs.co.uk", target="_blank") Accountability Hack 2016 is a Rebel Labs event

        block content

        script(src="https://code.jquery.com/jquery-2.1.4.min.js")
        script(src="js/magnific.js")
        script(src="js/matchHeight.js")
        != js()
