extends partials/layout

block content

	#challenges-page

		h1.page-title Challenges

		section#challenges
			h2 In a slight break from tradition, we are moving away from a solely challenge-focused hackathon this year. While there is still one partner-proposed challenge, alongside this we will be introducing looser themes under which participants can ideate and prototype.

			b The NAO challenge

			p The most innovative use of WGA data to throw a light on government spending.

			h2(style="margin-bottom: 1rem"): b Themes

			p #[b Engagmenet] - How can we further engage people are with smaller elections; with the workings of government departments, or with matters of everyday politics that can and do affect their lives?

			p #[b Accountability] - Rather than attach a theme of accountability to a specific department or dataset, this year we hope participants will think about ways in which accountability can impact the wider political landscape; voting, campaigning, lobbying etc.

			hr

			p Within all of our themes, originality, thinking outside the box and even erring on the side of the controversial is encouraged. After all, it wouldn’t be a political event without a healthy dose of controversy now would it?!



		#judges

			//-h1.page-title.section Judges
			
			//-ul
				li
					img(src="img/people/rg.jpg")
					.meta
						h2 Rob Greig
						p Director
						p Parliamentary Digital Service
				li
					img(src="img/people/tm.jpg")
					.meta
						h2 Terry Makewell
						p Chief Digital Officer
						p Office for National Statistics
				li
					img(src="img/people/mon.jpg")
					.meta
						h2 Mark O'Neill
						p Head of Innovation & Delivery
						p Government Digital Service
				li
					img(src="img/people/sb.jpg")
					.meta
						h2 Sarah Baskerville
						p Head of Management Information Systems
						p Department for Transport