extends partials/layout

block content

	#challenges-page

		h1.page-title Challenges

		section#challenges
			h2 We are still refining the challenges for Accountability Hack 2016. We will update this page as soon as they are finalised. If you would like to offer ideas or suggestions for this years broader themes or challenges, we'd love to hear from you. Please email us on #[a(href="mailto:hello@rebellabs.co.uk", target="_blank") hello@rebellabs.co.uk]
			//-ul
				li
					img(src="img/logos/ukp.png", alt="UK Parliament Logo")
					p Best use of linked data to improve accountability.
				li
					img(src="img/logos/nao.png", alt="National Audit Office Logo")
					p Use spend data and one other data set to improve accountability. 
				li
					img(src="img/logos/ons.png", alt="Office for National Statistics Logo")
					p Use the ONS OpenAPI to improve accountability. 
				li
					h3 Wildcard
					p Use any three open data sets to improve accountability.

		#judges

			//-h1.page-title.section Judges
			
			//-ul
				li
					img(src="img/people/rg.jpg")
					.meta
						h2 Rob Greig
						p Director
						p Parliamentary Digital Service
				li
					img(src="img/people/tm.jpg")
					.meta
						h2 Terry Makewell
						p Chief Digital Officer
						p Office for National Statistics
				li
					img(src="img/people/mon.jpg")
					.meta
						h2 Mark O'Neill
						p Head of Innovation & Delivery
						p Government Digital Service
				li
					img(src="img/people/sb.jpg")
					.meta
						h2 Sarah Baskerville
						p Head of Management Information Systems
						p Department for Transport