extends partials/layout

block content

	.hero: .wrapper
		h1 Accountability Hack is your chance to impact the democratic process through technology.
		h2 Now in it's sixth year, Accountability Hack is a series of lunchtime discussions culminating in a two day hackathon for the UK Civic Tech community with workshops for those wanting to learn more.
		h3 The hackathon will take place on November 19 - 20 2016 in London.
		.buttons
			a.focus(href="#register") Register for the hackathon
			a.video-2015 2015's video
			a.video-2014 2014's video

	section#about: .content
		:marked
			Accountability Hack has become a stalwart of the UK Civic Tech calendar, returning this year once again as a key event during Parliament Week 2016. 


			At Accountability Hack participants are given the challenge to use government data to ideate new and innovative ways in which the people can become involved in the democratic process. 


			The weekend is also an opportunity to get political support and buy in, give feedback on the state of the data, and ultimately aims to produce projects that will hold our elected more accountable.

	section#faq
		h1 FAQ
		ul
			li
				h2 What is Accountability Hack?
				p Accountability Hack is an annual, two day event bringing together the civic tech community in the UK. The aim of the weekend is to form teams and create applications using open government data to better hold our elected to account. You might come to Accountability Hack 2016 if you are a developer, designer, UXer, researcher, data lover, public sector worker, school or university student, armchair enthusiast or simply an interested bystander. 
			li
				h2 Isn't hacking bad?
				p In this context, hacking means building apps, websites and services really quickly to prove the value in an idea. Nothing malicious, nothing illegal.
			li
				h2 I don't have a team
				p You don’t need a team to take part; it’s perfectly acceptable to create a solo project. However, at the informal pre-event meetup and the event itself, there will be opportunities to share ideas and connect with your fellow developers to form a team. As organisers, we’ll do our best to encourage and facilitate teamwork across the weekend.
			li
				h2 Can I attend if I'm <18?
				p Yes, under 18s are very welcome to attend Accountability Hack and there will be appropriate measures in place to ensure your safety across the event - namely multiple DBS checked volunteers, at least two of whom will chaperone the u18s sleeping area. However, if you are 11 or under you must be accompannied by a parent or guardian.
			li
				h2 Can I stay overnight?
				p Absolutely! We’ll have separate sleeping areas for over 18s and under 18s. Attendees aged 12-15 will be chaperoned by two DBS checked volunteers overnight. Attendees aged 11 or under must have their parent or guardian stay with them. If you're staying, you'll need to bring a sleeping bag/mat.
			li
				h2 What's the deal with food?
				p All food across the weekend will be provided. That is: breakfast and lunch on Saturday and Sunday, as well as dinner on Saturday evening. Breakfast will be continental, and Saturday dinner is TBC. All dietary requirements will be considered and catered for - <b>please make sure you provide this information upon registering</b>.
			li
				h2 Who owns the projects?
				p All IP generated at Accountability Hack belongs to the developer. However, to generate the widest benefit from this event, we encourage developers to provide Open Source licenses for the results of their creativity.
			li
				h2 Can I start before?
				p While you can explore ideas before the Accountability Hack weekend and produce designs, you cannot write a line of code for your project before the event itself.
			li
				h2 What shall I bring?
				p All participants will need to bring their laptop, charger(s) and any other devices they wish to work on. If you are staying overnight, you will also need to bring a sleeping bag. 
			li
				h2 What is open data?
				p Open data is any data which is freely available with a license which allows reuse and redistribution. Please respect attribution requirements.
			li
				h2 My question isn't covered
				p No problem! Get in touch with #[a(href="mailto:hello@rebellabs.co.uk") hello@rebellabs.co.uk]

	section#partner-descs
		h1 Sponsors & Partners
		ul
			li
				img(src="img/logos/ukp.png")
				h2 UK Parliament
				.content: p The UK Parliament are one of the three main partners running this event. 
			//-li
				img(src="img/logos/nao.png")
				h2 National Audit Office
				.content: p The National Audit Office are once again providing their lovely venue and technical expertise.
			//-li
				img(src="img/logos/ons.png") 
				h2 Office for National Statistics
				.content: p Office for National Statistics is the executive office of the UK Statistics Authority, which reports directly to the UK Parliament.
			li.rebel
				img(src="img/logos/ru.png") 
				h2 Rebel Uncut
				.content: p Rebel Uncut is a Brummie creative content agency. They are the media partner for AccHack16. 
			//-li
				img(src="img/logos/mmt.png") 
				h2 MMT Digital
				.content: p MMT Digital have very kindly provided some awesome prizes for the event's category winners. 
			//-li.kontakt
				img(src="img/logos/kontakt.png")
				h2 Kontakt
				.content: p Kontakt have provided some of their iBeacon/Eddystone beacon dev kits as prizes. 
			//-li.estimote
				img(src="img/logos/estimote.png")
				h2 Estimote
				.content: p Estimote have also provided some of their iBeacon beacon dev kits as prizes. 
			//-li.aws
				img(src="img/logos/aws.png")
				h2 Amazon Web Services
				.content: p Amazon have provided $100 of free credit for participants of this hackathon. More imformation during the event.

	section#sign-up-block
		h2 Now you know the basics, you should totally #[a(href="#register") Register]
		
	section#updates
		h1 Updates
		ul
			li: a(target="_blank", href="https://medium.com/@AccountabilityHacK/a-look-towards-accountability-hack-2015-a2dc1963cdca#.f453cao7g") 
				h3 AccHack is back!
				p Team Rebel <br> Medium
			li: a(target="_blank", href="https://medium.com/rebel-labs/accountability-hack-2015-heres-what-happened-fb372c530b21#.xjqovd26b") 
				h3 Accountability Hack 2015 - here's what happened
				p Team Rebel <br> Medium
			//-li: a(target="_blank", href="https://medium.com/@nickmhalliday/what-is-the-future-for-hackathons-7d623eab6eea#.rrel7onxd") 
				h3 What is the future for hackathons?
				p Nick M Halliday <br> Medium

	section#data
		h1 Data
		h2 Below is a list of relevant open data sets. This list is for inspiration, and using this data is not a requirement unless specifically stated in the challenges above. Click for more.
		ul
			li: a(target="_blank", href="http://www.data.parliament.uk/")
				h3 Parliament Data
				p All data currently published by Parliament.
			li: a(target="_blank", href="https://www.spendnetwork.com/")
				h3 Spend Network
				p Government spending and purchasing data.
			li: a(target="_blank", href="http://www.ons.gov.uk/ons/guide-method/census/2011/census-data/ons-data-explorer--beta-/index.html")
				h3 2011 Census Data
				p Access all 2011 census data tables.
			li: a(target="_blank", href="http://www.ons.gov.uk/ons/datasets-and-tables/index.html?content-type=Dataset&edition=tcm%3A77-323601")
				h3 Consumer Prices Data
				p Consumer price indices through the ONS OpenAPI.
			li: a(target="_blank", href="http://hansard.services.digiminster.com/")
				h3 Digiminster Hansard Data Service
				p Divisions service from Parliament’s Digiminster team.			
			li: a(target="_blank", href="https://www.gov.uk/government/statistical-data-sets/live-tables-on-local-government-finance")
				h3 Local Government Finance
				p Data derived from quarterly returns and the first annual forecast figures from local authorities.		
			li: a(target="_blank", href="http://www.ons.gov.uk/ons/data/web/explorer/dataset-finder/-/q/dcDetails/Economic/OPSSM01?p_p_lifecycle=1&_FOFlow1_WAR_FOFlow1portlet_dataset_navigation=datasetCollectionDetails")
				h3 Occupational pensions
				p Membership estimates from the Occupational Pension Schemes Survey (OPSS).			
			li: a(target="_blank", href="https://opencorporates.com/")
				h3 OpenCorporates
				p Collated government data relating to companies.
			li: a(target="_blank", href="https://openspending.org/")
				h3 OpenSpending	
				p Over 900 datasets on government spending.
			li: a(target="_blank", href="https://gist.github.com/iaincollins/8c8e78e8a930c7ea4dce")
				h3 MP Twitter Accounts (2010-15)
				p A complete list of UK MPs sitting in the previous Parliament.
			li: a(target="_blank", href="https://www.gov.uk/government/publications/oscar-publishing-data-from-the-database")
				h3 OSCAR
				p OSCAR is the cross-government public spending database containing a record of all public spending transactions.
			li: a(target="_blank", href="https://www.npmjs.com/package/psuk-parliament")
				h3 psuk-parliament
				p node.js library to get info on Bills from the UK Parliament site.
			li: a(target="_blank", href="http://feedback.public-scrutiny-office.org/feedback/")
				h3 Public Scrutiny Office
				p Community feedback for parliament.uk
			li: a(target="_blank", href="https://github.com/UKParliData")
				h3 UKParliData Org
				p The GitHub Org for the UK Parliament.
			li: a(target="_blank", href="http://www.ons.gov.uk/ons/rel/bus-register/uk-business/2014/index.html")
				h3 UK Business Data
				p Get activity, size and location information through the ONS OpenAPI.
			li: a(target="_blank", href="https://www.gov.uk/government/organisations/civil-service/about/our-governance")
				h3 Civil Service Governance
				p  Who is responsible for what in government?
			li: a(target="_blank", href="http://www.publications.parliament.uk/pa/cm201011/cmselect/cmpubacc/740/74005.htm")
				h3 Accounting Officer role & accountability 
				p  Who is responsible for what in government?
			li: a(target="_blank", href="files/nao-datastore.zip")
				h3 Extract of data from the NAO data service 
				p  Including HTML versions of the metadata that the NAO hold about the datasets
			.more
				li: a(target="_blank", href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/463501/Permanent_Secretary_Diversity_Objectives_2015.pdf")
					h3 Permanent Secretary Diversity Objectives 2015
					p  Who is responsible for what in government?
				li: a(target="_blank", href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/451058/Treasury_Appointed_Accounting_Officers__August_2015_.pdf")
					h3 Treasury Appointed Accounting Officers
					p Who is responsible for what in government?
				li: a(target="_blank", href="http://census.edina.ac.uk/index.html")
					h3 UK Census Data
					p Including health, postal and environmental data.
				li: a(target="_blank", href="https://scraperwiki.github.io/eot-docs/")
					h3 Excel Output Transformation (EOT) 
					p EOT is an Office of National Statistics project to automate conversion from spreadsheets to datasets.
				li: a(target="_blank", href="https://pdftables.com")
					h3 PDF converter 
					p A tool to convert PDF tables to Excel.
				li: a(target="_blank", href="files/ted-open.xlsx")
					h3 TED UK-Based Opportunities
					p (xlsx file) All UK-based opportunities, listed as open on the TED website as of 28/09/2015.
				li: a(target="_blank", href="https://www.data.gov.uk/data/search")
					h3 data.gov
					p All data currently available from the UK government.
				li: a(target="_blank", href="https://www.nao.org.uk/highlights/whole-of-government-accounts/")
					h3 Whole of Government Accounts
					p NAO visualisation of whole government accounts. 
				li: a(target="_blank", href="https://www.nao.org.uk/tableau-data-financial-institutions-landscape/")
					h3 Financial Institutions Landscape
					p NAO visualisation of the financial institutions landscape.
				li: a(target="_blank", href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/313687/Government_Major_Projects_Portfolio_data__September_2013__XLS_.xlsx")
					h3 Major Projects in Government
					p A list of major projects in government.
				li: a(target="_blank", href="https://www.gov.uk/government/publications?keywords=&publication_filter_option=transparency-data&topics%5B%5D=all&departments%5B%5D=all&official_document_status=all&world_locations%5B%5D=all&from_date=&to_date=")
					h3 Government Transparency Spend Data
					p  Over 5,000 publications of transparency spend data around government spending. 
				li: a(target="_blank", href="https://www.gov.uk/government/collections/treasury-minutes#treasury-minutes-2015")
					h3 Treasury Minutes
					p This collection brings together all documents relating to HMT Treasury minutes released between 2010 to 2015.
	section#venue
		h1 Where
		h2 Central London - Exact venue TBC
		//-.travel
			.trains
				h2 Trains
				p Victoria Station
				p #[span.d District] #[span.c Circle] #[span.v Victoria]
			.buses
				h2 Buses
				p Bus Routes
				p #[span.b 11] #[span.b 211] #[span.b C10] #[span.b C239]
		script(type='text/javascript', src='http://maps.google.com/maps/api/js?sensor=false')
		#gmap_canvas(style='height:500px;width:600px;')
		style.
			#gmap_canvas img{max-width:none!important;background:none!important}
			a#get-map-data.google-map-code(href='http://www.themecircle.net') themecircle.net
		script(type='text/javascript').
			function init_map(){var myOptions = {zoom:15,center:new google.maps.LatLng(51.4995,-0.1332999999999629),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions); google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);

	section#slack: .wrapper
		h1 Join the UKGovCamp Slack Channel
		h2 Talk with other civic technologists before, during and after the event! 
		a(href="http://slack.gov.camp/", target="_blank") If there's no button below, you can click here to register
		script(src="https://slack.gov.camp/slackin.js?large")

	section#register
		h1 Register
		.event
			iframe(src="//eventbrite.co.uk/tickets-external?eid=28856127454&ref=etckt", frameborder="0", vspace="0", hspace="0", marginheight="5", marginwidth="5", scrolling="auto", allowtransparency="true")

	section#footer
		p Accountability Hack is a #[a(href="http://rebellabs.co.uk", target="_blank") Rebel Labs] Event
