#about {
	@include span-columns(12);
	background: lighten(lightgrey, 10%);
	.content {
		@include outer-container;
		padding: 3rem;
		text-align: center;
		color: $grey-dark;
		font-size: 1.25em;
	}
}